body{
	padding: 0px;
	margin: 0px;
	font-size:16px;
	position: relative;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

.main-content{
	padding: 10px;
	margin: 10px;
}

h1{
	font-size: 1.75em;
	text-align:  center;
}

section{
	border: 1px solid black;

	display: inline-block;
	position: relative;
	margin:6px;
	background: lightgray;

}

h2{
	font-size: 1.25em;
	float: right;
	overflow: auto;
	border-width: 0px 0px 2px 1px;
	border-style: solid;
	border-color: black;
	padding: 2px 30px;
	margin:0px;

}


#chicken {
	background: #e8ba8c;

}


#beef{
	background: #c15742;

}


#sushi{
	background: #d3e477;

}

section p{
	clear: right;
	padding: 10px;		 
}

@media (min-width: 992px) {
	.main-content{
		display: flex;	
	}

	section{
		width: 33%;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	section{
		width: 48%;
		float: left;
	}

	section:nth-child(3){
		width: 97.5%;
	}
}